/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */

/* 레이아웃 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Hi Melody", sans-serif;
  font-size: 18px;
  outline: none;
  word-break: keep-all;
}

.hide {
  display: none;
}

a:visited {
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
  margin-top: 2px;
  background-color: var(--white-100);
  border: solid 2px var(--black-100);
  border-radius: 3px;
  font-size: 15px;
  font-family: "Nanum Gothic Coding", monospace;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.form__submit {
  display: flex;
  justify-content: center;
}

#submit__button {
  margin: 0 auto;
  width: 20%;
  background-color: var(--white-100);
  border: solid 2px var(--black-100);
  border-radius: 3px;
  font-size: 20px;
}

body {
  width: 100vw;
  padding: 2% 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-skyblue-20);
}

@media (max-width: 1000px) {
  body {
    padding: 2%;
  }
}

main {
  width: 100%;
  margin: 0 auto;
}

#page__title {
  text-align: center;
  font-size: 60px;
}

/* 질문 폼 */
.form__container {
  width: 100%;
  background-color: var(--theme-blue-50);
  border-radius: 4px;
  padding: 2%;
}

.form__field {
  margin-bottom: 18px;
}

#story {
  width: 100%;
  height: 100px;
  resize: none;
  overflow-y: scroll;
}

.disabled__button {
  background-color: var(--gray-700);
}

/* 질문리스트 */

.discussion__wrapper {
  width: 100%;
  background-color: var(--theme-yellow-60);
  padding: 5%;
  border-radius: 4px;
}

.discussion__answered {
  width: 100%;
  background-color: var(--theme-orange-100);
  border-radius: 4px;
}

.section__title {
  text-align: center;
  font-size: 30px;
  margin: 2% 0;
}

ul {
  list-style-type: none;
}

.discussion__container {
  margin-bottom: 5%;
}

.discussion__content > * {
  width: 100%;
}

.header__info__area {
  display: grid;
  grid-template-columns: 70px 1fr;
  padding: 0 2%;
}

.header__info__right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.header__info__right--top {
  padding-top: 2px;
  display: grid;
  grid-template-columns: minmax(auto, auto) minmax(auto, auto) 1fr;
}

.discussion__avatar--img {
  max-width: 64px;
  max-height: 64px;
}

.user__id {
  font-weight: 600;
}

.discussion__date {
  margin-left: 15px;
  color: var(--gray-600);
  font-size: 16px;
}

.checkout__answer {
  margin-top: -5px;
  margin-left: 8px;
  border: solid 3px var(--peach-500);
  width: 100px;
  text-align: center;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
}

.discussion__title {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(auto, 80%) 100px;
}

.discussion__title--text {
  font-weight: 600;
  font-size: 20px;
}

.discussion__link {
  padding: 2px;
  background-color: var(--theme-blue-100);
  color: var(--black-100);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.discussion__link:hover {
  background-color: var(--theme-skyblue-100);
  border: solid 3px var(--theme-blue-100);
}

.spread__button {
  background: none;
  border: none;
  width: 18px;
  height: 36px;
  cursor: pointer;
}

.spread__button:hover {
  color: var(--red-100);
}

.discussion__answered {
  padding: 2% 0 0 2%;
}

p[dir="auto"] {
  margin: 10px 0;
}

p[dir="auto"] > code {
  background-color: var(--gray-200);
  padding: 1px 8px;
  border-radius: 3px;
}

p[dir="auto"] > pre {
  background-color: var(--gray-200);
  border-radius: 4px;
  margin: 10px 0;
  padding: 2%;
}

/* 페이지네이션 */
.pagination {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.page {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--theme-blue-80);
}
